.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  bottom: 0px;

  p{
    color: #FFF;
    font-size: 2rem;
    font-weight: 100;
    font-size: 1em;
    @mixin atSmall{
      font-size: 1.5rem;
    }

    @mixin atMedium{
      font-size: 2.5rem;
    }

    @mixin atLarge{
      font-size: 2rem;
    }
  }
}
